.header {
    border-bottom: 1px solid red;
    font-family: 'Damion', cursive;
    color: white;
    text-shadow: -1px 0 red, 0 1px red, -1px 0 red, 0 -1px red;
}

.footer {
    background-image: linear-gradient( to right, #000000, #434343);
    font-family: 'Damion', cursive;
    color: white;
    padding: 20px;
    margin-top: 0px;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red; 
}
.nav {
    background-image: linear-gradient(to right, #000000, #434343);
}

.nav-pills a {
    color: white;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red; 
}
.nav-pills a:hover {
    color: black;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-image: linear-gradient( to right, #e52d27, #b31217);
    color: white;
}
.jumbotron {
    background-image: linear-gradient( to right, #000000, #434343);
}
p {
    padding-top: 30px;
}
.container-fluid {
    background-image: linear-gradient( to right, #e52d27, #b31217);
}
